img {
  width: 150px;
  height: 200px;
}

.eachDiv {
  width: 230px;
  height: 350px;
  float: left;
  padding: 1%;
  margin: 1.5%;
  box-shadow: 3px 4px 7px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
